body{
    background-color: rgb(11, 11, 11);
    font-family:Tahoma, Geneva, Verdana, sans-serif;
    color: #c8ff00;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

header{
    font-size: 20px;
    display: flex;
    justify-content: space-evenly;
    background-color: #c8ff00;
    color:rgb(11, 11, 11)
}

button{
    background-color: rgb(11,11,11);
    color: #c8ff00;
    width: 33.33%;
    border: 1px solid #c8ff00;
    padding: 10px 5px;
    margin-top: 5px;
    font-size: medium;
}

button:hover{
    background-color: #c8ff00;
    color: rgb(11,11,11);
}

.bioContainer{
    display: flex;
    flex-direction: row;
    padding: 10px
}

.bioTextContainer {
    display: flex;
    flex-direction: column;
}

.bioImage{
    object-fit: contain;
    width: 30%;
    height: auto;
    text-align: right;
    padding: 10px;
    margin: 10px;
    border: 1px solid #c8ff00    
}
